
body {
    height: 1000px;
    background-color: black;
}

.breadcrumb-links a {
    display: inline-block;
    text-decoration: none;
    color: gray;
}
.breadcrumb-links span {
    color: gray;
}

.breadcrumb-links a:hover {
    color: white;
}

.table {
    color: white;
}

.table thead {
    border-top: 2px gray solid;
    border-bottom: 2px gray solid;
    text-align: center;
}

.table tbody tr {
    border-bottom: 1px gray solid;
}

.cart-product {
    width: 80%;
    margin-left: 8%;
}

.p-title {
    width: 35%;
    margin-bottom: 0;
}

.table tbody th {
    width: 70%;
    vertical-align: middle;
}

.table td {
    width: 10%;
    vertical-align: middle;
    text-align: center;
}

.p-name {
    margin-top:15%;
    color: #C75000;
    font-weight: bold;
}

.p-color {
    width: 50%;
}

.icon-round {
    margin-left: 0.5rem;
    transform: translateY(26%);
}

.number-input {
    transform: translateX(10%);
}

.number-input input {
    width: 30%;
    border: #C75000 1px solid;
    text-align: center;
}

.number-input button {
    width: 30%;
    background-color: white;
    padding: 0;
    border: #C75000 1px solid;
    font-weight: bold;
}

.number-input input {
    background-color: white;
    font-weight: bold;
}


.number-input span {
    padding: 0;
    transform: translateY(16%);
}

.subtotal {
    font-weight: bold;
    color: #C75000;
}

.nav-li {
    border-bottom: black 4px solid;
}

.continue a:hover {
    border: #C75000 1px solid;
    color: #C75000;
    background-color: transparent;
}

.continue a {
    color: white;
    background-color: #C75000;
}


