body {
    color: white;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    background: black;
}

.badge-shop {
    right: 0;
    bottom: 0;
    background-color: #C75000;
    padding: 5% 10% !important;
    font-size: 10px;
}

.svg-custom {
    transform: translateY(-8%);
}

body::-webkit-scrollbar {
    display: none;
}

.ms-custom {
    margin-left: 2.2rem;
}

.nav-input {
    border: 0;
    border-bottom: 1px black;
    outline: 0;
    background: transparent;
    color: white;
    font-size: 16px;
}

.navbar-label {
    border-bottom: 2px solid #999;
}

.body-background {
    background: url("../image/navbar-background.png") no-repeat;
    background-size: 100%;
}

.logo {
    height: auto;
}

.ms-10 {
    margin-left: 13rem;
}

.bg-black {
    background: black !important;
}

.nav-li:focus, .nav-li:hover, .nav-li.active {
    /*text-decoration: #C75000 underline solid;*/
    /*text-decoration-thickness: 4px;*/
    border-bottom: #C75000 4px solid;
}

.nav-li {
    padding: 8px 0 0 0 !important;
    margin: 8px;
}

@media screen and (max-width: 878px) {
    .nav-li {
        width: auto;
    }
}

.nav-collapse {
    background: #C75000;
    color: white;
}

.nav-collapse img {
    width: 100%;
    margin-top: 1rem;
}

.search {
    margin-right: 1rem;
}

.search span {
    color: white;
    margin: 0;
    padding: 0;
    float: right;
}

/*carousel*/
.carousel-inner .card {
    background: #C75000;
    border: 0 !important;
}

.carousel-inner .card img {
    padding: 0 16px;
}

#myCollapse a:hover {
    color: white;
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }

    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.main-banner {
    text-align: center;
    color: white;
    background: black;
}

.main-banner h1 {
    font-weight: 900;
}

.main-banner h1 {
    margin: 4% 0 2% 0;
}

/*---------------------
  Breadcrumb
-----------------------*/

.breadcrumb__links {
    background: #C75000;
    color: white;
    font-size: 20px;
    padding: 10px 0 10px 3rem;
}

.breadcrumb__links a {
    display: inline-block;
}

.breadcrumb__links a {
    text-decoration: none;
    color: white;
}

.breadcrumb__links span {
    display: inline-block;
}

.room-menu {
    background: black;
    color: white;
    padding: 4rem 0;
    font-size: 20px;
}

.room-menu a {
    color: #cfcece;
}

a {
    text-decoration: none;
    color: white;
}

.room-menu a.active, .room-menu a:hover {
    text-decoration: underline;
    color: white;
}

.room-page {
    padding: 0 0 0 4rem;
}

.room-page a:active {
    color: white;
}

.category {
    position: relative;
    display: inline;
}

.category .img-bottom {
    width: 103%;
    border: 5px solid black;
}

.category a {
    padding-top: 0;
}

.category .img-top {
    position: absolute;
    border: 5px solid black;
    top: 0;
    left: 4px;
    width: 100%;
    padding: 0 12px;
    visibility: visible;
    opacity: 1;
    -webkit-transition: -webkit-filter 0.2s linear;
}

@media screen and (min-width: 1500px) {
    .category-living {
        width: 20% !important;
    }
}

@media screen and (max-width: 768px) {
    .product-category {
        padding: 0 2rem 3rem 2rem;
    }

    .breadcrumb__links {
        padding-left: 0;
        text-align: center;
    }

    .loadMore {
        left: 20% !important;
    }
}



@media screen and (width: 514px) {
    #myTab li {
        transform: translateX(20%);
    }

}

@media screen and (max-width: 514px) {
    .room-page {
        padding-left: 0;
        text-align: center;
    }

    .main-banner  p {
        display: none;
    }

    .w-custom {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }


    .product-category {
        padding-left: 2rem !important;
    }

    .navbar-label {
        width: 100%;
    }

    .search {
        margin: 8px !important;
        width: 100% !important;
    }

    .product {
        border: #C75000 1px solid !important;
        margin-bottom: 5% !important;
    }
}

.category:hover .img-top {
    visibility: hidden;
    opacity: 0;
    filter: brightness(50%);
    transition: visibility 0s 0.2s, opacity 0.2s linear;
}

.category-main-title {
    font-weight: bolder;
    width: 200%;
    color: black;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 5px;
}

.category-sub-title {
    width: 200%;
    color: black;
    font-size: 13px;
    padding-right: 0;
}

.category-title {
    position: absolute;
    text-align: center;
    left: 0;
    padding-left: 10px;
    padding-right: 0;
    visibility: hidden;
}

.category:hover .category-title, .category .active .category-title {
    visibility: visible;
}

.category .active .img-bottom {
    border: 5px #C75000 solid;
}

.category .active .img-top {
    visibility: hidden;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 26px 0;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.side-menu {
    border-bottom: 2px white solid;
}

.product img {
    padding: 4% 2%;
    background-color: #CCCCCC;
}

.product {
    border: 1px black solid;
}

.product:hover {
    border-color: white;
}

.product-category {
    padding-left: 4rem;
    padding-bottom: 2rem;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}

/* Optional: Style the caret down icon */
.dropdown-icon {
    float: right;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

table {
    border: none black !important;
}

.w-custom {
    width: 98%;
    margin-left: 1.5rem;
}

.card-title {
    font-weight: bold;
    margin-bottom: 16px;
    font-size: 20px;
}

.card-text {
    color: gray;
    font-size: 20px;
}

.price {
    color: #C75000;
    font-weight: bold;
    font-size: 24px;
}

.discount {
    font-size: 20px;
    position: absolute;
    top: 5%;
    left: 6%;
    background: #C75000;
    border-radius: 0;
}

.sold-out {
    font-size: 16px;
    padding: 10px;
    position: absolute;
    top: 5%;
    left: 6%;
    background: grey;
    border-radius: 0;
}

.discount-price {
    font-size: 20px;
    color: gray;
    font-weight: bold;
    text-decoration-line: line-through !important;
    text-decoration: gray;
}

.td-product, .td-armchair, .td-tv, .td-bookshelf, .td-coffe, .td-sofa {
    padding-right: 12px !important;
    color: white;
    padding-top: 0;
    position: relative;
}

.product:hover .product-icon {
    right: 8%;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
}

.product-icon {
    position: absolute;
    right: 3%;
    bottom: 5%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.td-armchair, .td-bookshelf, .td-coffe, .td-product, .td-sofa, .td-tv {
    display: none;
}

.add-cart:hover span, .add-cart:hover svg g path {
    color: #C75000;
    fill: #C75000;
}

.added span, .added svg g path {
    color: #C75000 !important;
    fill: #C75000 !important;
}

.product-icon button {
    border: 0;
    background: none;
    color: white;
}

.span-add {
    font-size: 15px !important;
    color: black;
    background-color: white;
    position: absolute;
    bottom: 3px;
    right: 7px;
}

.product-icon button span {
    font-size: 40px;
}

.rotate {
    transform: rotate(180deg);
    transition: all 0.5s;
}

.rotate-revert {
    transform: rotate(0deg);
    transition: all 1s;
}

.inputGroup {
    overflow: hidden;
    background-color: black;
    display: block;
    font-size: 20px;
    position: relative;
    color: white;
}

.inputGroup label {
    padding: 0 0 1.5rem 1rem;
    width: 100%;
    display: block;
    text-align: left;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.inputGroup label:after {
    width: 32px;
    height: 32px;
    content: "";
    border: 2px solid white;
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 2px 3px;
    border-radius: 50%;
    z-index: 2;
    right: 0;
    position: absolute;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.inputGroup input:checked ~ label {
    color: white;
}

.inputGroup input:checked ~ label:before {
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
}

.inputGroup input:checked ~ label:after {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23000' fill-rule='nonzero'/%3E%3C/svg%3E ");
}

.inputGroup input {
    width: 32px;
    height: 32px;
    order: 1;
    position: absolute;
    cursor: pointer;
    visibility: hidden;
}

#slider-range {
    background: gray;
    margin-bottom: 1rem;
}

#amount {
    border: 0;
    color: white;
    margin-bottom: 1rem;
    text-align: center;
    width: 93%;
}

.ui-state-active {
    background: #C75000 !important;
    border: #b74600 !important;
}

.dt-more-container {
    text-align: center;
    margin: 2em 0;
}

.product-table tr {
    display: none;
}

.totop {
    position: fixed;
    bottom: 10px;
    left: 30px;
}

.totop a {
    display: none;
}

.totop a:hover {
    color: #C75000;
}

.totop span {
    font-size: 40px;
}

.loadMore {
    text-align: center;
    background-color: black;
    color: #C75000;
    position: absolute;
    left: 41%;
    bottom: -55px;
    padding: 0.5rem 2rem;
    margin: 2rem;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}

.loadMore:hover {
    color: white;
}

.loadMore span {
    padding-left: 20px;
    float: right;
}
