.sign-right {
    padding: 0;
}

.sign-right img {
    width: 100%;
    height: 100%;
}

.sign-left {
    background-color: black;
}

.logo-sign {
    transform: translateX(50%);
    width: 50%;
    margin: 10% 0;
}

.title {
    text-align: center;
    font-weight: bold;
    color: white;
    margin-bottom: 10%;
}

form {
    margin: 0 10%;
}

.form-control {
    color: gray;
    background-color: black;
    border: 2px gainsboro solid;
    border-radius: 0;
    height: 150%;
}

.form-select {
    color: gray;
    background-color: black;
    border: 2px gainsboro solid;
    border-radius: 0;
    height: 130%;
    background-image: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 5 16' fill='gray' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") !important;
}

.form-select:focus {
    background-color: white;
}

form .sign {
    color: white;
    text-align: center;
    background-color: #C75000;
    border-radius: 0;
    border: 2px solid #C75000;
    /*border: none;*/
    margin: 2% 0;
    padding: 0 !important;
    width: 100%;
}

form .sign:hover {
    background-color: transparent;
    color: #C75000;
}

form .sign p {
    padding: 0;
    margin: 2% 0;
    font-weight: bold;
    font-size: 25px;
}

.label-custom {
    margin-bottom: 7%;
}

hr {
    color: gainsboro;
    border: 1px gainsboro solid;

}

.hr-text {
    color: grey;
    transform: translateY(10%);
    padding: 0;
}

.btnText {
    text-align: center;
    font-weight: bold;
    margin-right: 10%;
}

.sign-up-social {
    width: 100%;
    background-color: transparent;
    border: 2px solid gainsboro;
    color: white;
    border-radius: 0;
}

.sign-up-social:hover {
    border-color: #C75000;
}

.sign-up-social img {
    margin: 3% 10% 3% 0;
}

.link {
    text-align: center;
    margin: 10% 0;
    color:white;
}

.link a {
    text-decoration: none;
    font-weight: bold;
    color: #0dcaf0;
}

.forgot {
    text-align: center;
    color: white;
    margin: 0;
}

.sign-up {
    background-color: #0dcaf0 !important;
    border: 2px solid #0dcaf0 !important;
}

.sign-up:hover {
    background-color: transparent !important;
    color: #0dcaf0 !important;
}

